* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  font-size: 1.25rem;
}
header {
  padding: 32px;
}
header h3 {
  text-align: center;
  cursor: pointer;
}

.shopping-cart-image {
  position: fixed;
  right: 0;
  top: 0;
  padding: 32px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.counter {
  background-color: #e75858;
  border-radius: 50px;
  width: 32px;
  text-align: center;
}

.navigation-buttons {
  text-align: center;
}

.nav-button {
  cursor: pointer;
  padding: 32px;
  border: none;
  background-color: white;
}

.clothtype-title {
  text-align: center;
  padding: 32px;
}
.cloth-cards {
  padding: 32px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-content {
  text-align: center;
  padding: 32px;
  text-wrap: wrap;
}

.card-content img {
  width: 25vw;
  height: 35vh;
}

.clothtype-image {
  width: 100vw;
}

.cart-page-header {
  text-align: center;
}

.no-items {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 35%;
}
